#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: auto;
}

.container-detail-title {
  color: #189ab4;
  margin: 0 5px 0 0;
}
.container-detail-description {
  margin: 0 0 0 5px;
}

.category-details {
  margin: 0 0 0 5px;
}

.category-label {
  margin: 0 5px 0 0;
  color: #189ab4;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  max-width: 70%;
  margin: 0 auto;
}
.content-header-title {
  font-size: 40px;
}
.main-section {
  width: 30%;
  margin: 0 auto;
  padding: 0;
  border-right: 1px dotted blue;
  border-left: 1px dotted blue;
  height: 75vh;
}
.container {
  width: 70%;
  margin: 0 auto;
  border-right: 1px dotted blue;
  height: 75vh;
}
.content-header-title {
  color: #05445e;
}

input {
  border: 1px solid #05445e;
  border-radius: 4px;
  height: 20px;
  width: 50%;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #d4f1f4;
}

h1 {
  color: #05445e;
}

h2 {
  color: #189ab4;
}

label {
  color: #189ab4;
  text-align: right;
}
